RewriteEngine on
ErrorDocument 404 /common/404.php
RewriteRule ^service_clients/$ service_clients.php
RewriteRule ^recours/$ recours.php
RewriteRule ^futur_client/$ futur_client.php
RewriteRule ^magasins/$ magasins.php
RewriteRule ^urgence/$ urgence.php